@import "variables";
@import "mixins";

.navbar {
  justify-content: space-between;
  @include mq(md) {
    padding: 12px 30px;
  }

  @include mq(xl) {
    padding: 12px 40px;
  }

  &-light .navbar-brand {
    font-family: $font-main;
    color: $color-murasakinezu;

    &:hover {
      color: $color-murasakinezu;
    }
  }

  &-brand {
    font-size: 24px;
  }

  &__menus {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu {
      margin: 0 0 0 32px;
    }

    .form_search,
    .btn_menu {
      display: none;

      @include mq(lg) {
        display: inline-block;
      }
    }

    .btn_menu {
      padding: 0;
    }

    .feather-search,
    .feather-menu {
      color: $color-murasakinezu;

      @include mq(lg) {
        width: calc(24px + 16px);
        padding: 0 8px 0 0;
      }
    }
  }
}