.row {
  align-items: flex-start;
}

.no-padding {
  padding: 0;
}

.col-lg-6.md-4 {
  padding: 15px;

  & .col-lg-6.md-4 {
    padding: 0 15px;

    &:nth-of-type(3),
    &:nth-of-type(4) {
      padding: 30px 15px 0;
    }
  }
}