@import "partials/variables";
@import "partials/mixins";
@import "partials/header";

body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: $color-kinari;
}

h1,
h2,
h3,
h4,
h5,
a,
p {
  font-family: $font-main;
  color: $color-murasakinezu
}

p {
  font-family: $font-paragraph;
  color: $color-susu;
}

.row {
  align-items: flex-start;
}

.no-padding {
  padding: 0;
}

.container-fluid {
  @include mq(md) {
    padding-right: 30px;
    padding-left: 30px; 
  }

  @include mq(xl) {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.col,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8 {
  padding-bottom: 30px;

  @include mq(xl) {
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.form {
  &_search {
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $color-murasakinezu;
    
    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-nezumi;
      font-family: $font-accent;
      font-weight: $thin;
      font-size: 14px;
      letter-spacing: 2px;
    }
  }
}

.btn {
  &_search,
  &_menu {
    font-family: $font-main;
    color: $color-murasakinezu;
    letter-spacing: 3px;
    text-transform: uppercase;
    border: none;
    box-shadow: none;
    background: transparent;

    &:focus {
      cursor: pointer;
      outline: none;
    } 
  }
}

.article {
  &__category {
    font-family: $font-accent;
    font-size: 12px;
    font-weight: $thin;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__title {
    font-size: 24px;
    margin: 16px 0 32px;
  }

  &__description{
    font-size: 14px;
    margin: 16px 0;
  }

  &__source {
    display: inline-block;
    font-size: 14px;
    border-bottom: 1px solid $color-susu;
    margin-bottom: 40px;
  }

  &__date {
    font-family: $font-main;
    font-size: 12px;
  }

  &__tags {
    color: $color-susu;
    font-family: $font-accent;
    font-weight: $thin;
    font-size: 10px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
}

.related {
  margin-top: 96px;

  &__title {
    font-size: 14px;
    letter-spacing: 1.7px;
  }

  &__images {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &__img {
    width: 100%;
  }
}