.col-lg-6 {
  background: #bbb000;

  & > p {
    color: #777;
  }
}

.col-sm-3 {
  max-height: 400px;
  object-fit: cover;
  background: cornflowerblue;

  & > p {
    color: #777;
  }
}

.col-sm-4 {
    background: lightsalmon;

  & > p {
    color: #777;
  }
}

.col-sm-2 {
  background: lightpink;

  & > p {
    color: #777;
  }
}