.navbar {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (min-width: 768px) {
    .navbar {
      padding: 12px 30px; } }
  @media screen and (min-width: 1200px) {
    .navbar {
      padding: 12px 40px; } }
  .navbar-light .navbar-brand {
    font-family: "Optima", "Georgia", Times, serif;
    color: #71686C; }
    .navbar-light .navbar-brand:hover {
      color: #71686C; }
  .navbar-brand {
    font-size: 24px; }
  .navbar__menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .navbar__menus .feather-search,
    .navbar__menus .feather-menu {
      color: #71686C;
      padding-right: 8px; }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #FBFAF5; }

h1,
h2,
h3,
h4,
h5,
a,
p {
  font-family: "Optima", "Georgia", Times, serif;
  color: #71686C; }

a:hover {
  color: #71686C;
  text-decoration: none; }

p {
  font-family: "Baskerville", "Times New Roman", Times, serif;
  color: #887F7A; }

.row {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.no-padding {
  padding: 0; }

@media screen and (min-width: 768px) {
  .container-fluid {
    padding-right: 30px;
    padding-left: 30px; } }

@media screen and (min-width: 1200px) {
  .container-fluid {
    padding-right: 40px;
    padding-left: 40px; } }

.col,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8 {
  padding-bottom: 30px; }
  @media screen and (min-width: 1200px) {
    .col,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8 {
      padding-bottom: 40px;
      padding-left: 20px;
      padding-right: 20px; } }

.form_search {
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #71686C; }
  .form_search:focus {
    outline: none; }
  .form_search::-webkit-input-placeholder {
    color: #949495;
    font-family: "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 2px; }
  .form_search::-moz-placeholder {
    color: #949495;
    font-family: "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 2px; }
  .form_search:-ms-input-placeholder {
    color: #949495;
    font-family: "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 2px; }
  .form_search::-ms-input-placeholder {
    color: #949495;
    font-family: "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 2px; }
  .form_search::placeholder {
    color: #949495;
    font-family: "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 2px; }

.btn_search, .btn_menu {
  font-family: "Optima", "Georgia", Times, serif;
  color: #71686C;
  letter-spacing: 3px;
  text-transform: uppercase;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent; }
  .btn_search:focus, .btn_menu:focus {
    cursor: pointer;
    outline: none; }

.article__category {
  font-family: "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase; }

.article__title {
  font-size: 24px;
  margin: 16px 0 32px; }

.article__description {
  font-size: 14px;
  margin: 16px 0; }

.article__source {
  display: inline-block;
  font-size: 14px;
  border-bottom: 1px solid #887F7A;
  margin-bottom: 40px; }

.article__date {
  font-family: "Optima", "Georgia", Times, serif;
  font-size: 12px; }

.article__tags {
  color: #887F7A;
  font-family: "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase; }

.related {
  margin-top: 96px; }
  .related__title {
    font-size: 14px;
    letter-spacing: 1.7px; }
  .related__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%; }
  .related__img {
    width: 100%; }
