.col-lg-6 {
  background: #bbb000; }
  .col-lg-6 > p {
    color: #777; }

.col-sm-3 {
  max-height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
  background: cornflowerblue; }
  .col-sm-3 > p {
    color: #777; }

.col-sm-4 {
  background: lightsalmon; }
  .col-sm-4 > p {
    color: #777; }

.col-sm-2 {
  background: lightpink; }
  .col-sm-2 > p {
    color: #777; }
